.page-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #6E1300;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  font-family: "Fantasyfont", fallback-font, sans-serif;
  letter-spacing: 0.15em
}

.page-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  height: 300px;
  width: 400px;
}

.createuser-button {
  background-color: #6E1300;
  color: #000000;
}